<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/d77201538f.js" crossorigin="anonymous"></script>
</head>
<body>
    <header><%= htmlWebpackPlugin.options.title %></header>
    
    <main>
        <div class="container">
            <div class="settings">
                <h2>Lists</h2>
                <p id="daily">Daily</p>
                <p id="weekly">Weekly</p>
                <p id="monthly">Monthly</p>
                <p id="yearly">Yearly</p>
            </div>
            <div class="list">
                <h1 class="question">What do you need to do today?</h1>
                <div class="todo-list">
                    <form action="" class="list-form">
                        <label for="todo"></label>
                        <div class="input">
                            <input class="textBox" type="text" name="todo" id="todo" autocomplete="off"><div class="new-book">
                                <button class="plus"><i class="fas fa-plus"></i></button>
                            </div>
                        </div>
                        
                    </form>
                </div>
                <div class="lists">
                    <div class="high"></div>
                    <div class="borderBot"></div>
                    <div class="low"></div>
                </div>
            </div>
        </div>
        
    </main>
    



    <footer>
        <h3>Share your schedule:</h3>
        <div class="social">
            <p><i class="fab fa-twitter"></i></p>
            <p><i class="fab fa-facebook"></i></p>
            <p><i class="fab fa-instagram"></i></p>
        </div>
    </footer>
</body>
</html>